/* import font --------- */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");


body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background: linear-gradient(180deg, #f7f9ff, #e9efff);
    color: #2a2a2a;
    text-align: center;
}


.title {
    font-size: 2.4rem;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 25px;
    letter-spacing: 0.5px;
    color: #27306f;
    text-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

/*chart containerr */
#myChart {
    max-width: 1500px;
    width: 90%;
    margin: 0 auto 60px auto;
    background: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}
